<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.clubank.weihang.manage.member.dao.CustomerInfoMapper">
	<resultMap id="BaseResultMap" type="cn.com.clubank.weihang.manage.member.pojo.CustomerInfo">
		<id column="c_id" jdbcType="VARCHAR" property="cId" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="realname" jdbcType="VARCHAR" property="realname" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="headIcon" jdbcType="VARCHAR" property="headicon" />
		<result column="simple_spelling" jdbcType="VARCHAR" property="simpleSpelling" />
		<result column="gender" jdbcType="INTEGER" property="gender" />
		<result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="qq" jdbcType="VARCHAR" property="qq" />
		<result column="wechat" jdbcType="VARCHAR" property="wechat" />
		<result column="check_online" jdbcType="INTEGER" property="checkOnline" />
		<result column="first_visit" jdbcType="TIMESTAMP" property="firstVisit" />
		<result column="previous_visit" jdbcType="TIMESTAMP" property="previousVisit" />
		<result column="last_visit" jdbcType="TIMESTAMP" property="lastVisit" />
		<result column="recommender_id" jdbcType="VARCHAR" property="recommenderId" />
		<result column="recommend_code" jdbcType="VARCHAR" property="recommendCode" />
		<result column="delete_mark" jdbcType="INTEGER" property="deleteMark" />
		<result column="enabled_mark" jdbcType="INTEGER" property="enabledMark" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="create_user_Id" jdbcType="VARCHAR" property="createUserId" />
		<result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
		<result column="modify_user_Id" jdbcType="VARCHAR" property="modifyUserId" />
		<result column="modify_user_name" jdbcType="VARCHAR" property="modifyUserName" />
		<result column="Integral_account" jdbcType="INTEGER" property="integralAccount" />
		<result column="payment_password" jdbcType="VARCHAR" property="paymentPassword" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from customer_info
		where c_id = #{cId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cn.com.clubank.weihang.manage.member.pojo.CustomerInfo">
		insert into customer_info (c_id, status, password,
		realname, nickname, headIcon,
		simple_spelling, gender, birthday,
		mobile, email, qq,
		wechat, check_online,
		first_visit, previous_visit, last_visit, recommender_id,
		recommend_code, delete_mark, enabled_mark,
		description, create_date, create_user_Id,
		create_user_name, modify_date, modify_user_Id,
		modify_user_name, Integral_account, payment_password)
		values (#{cId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{password,jdbcType=VARCHAR},
		#{realname,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{headicon,jdbcType=VARCHAR},
		#{simpleSpelling,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
		#{birthday,jdbcType=TIMESTAMP},
		#{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
		#{wechat,jdbcType=VARCHAR}, #{checkOnline,jdbcType=INTEGER},
		#{firstVisit,jdbcType=TIMESTAMP}, #{previousVisit,jdbcType=TIMESTAMP},
		#{lastVisit,jdbcType=TIMESTAMP}, #{recommenderId,jdbcType=VARCHAR},
		#{recommendCode,jdbcType=VARCHAR}, #{deleteMark,jdbcType=INTEGER}, #{enabledMark,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{createUserId,jdbcType=VARCHAR},
		#{createUserName,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=VARCHAR},
		#{modifyUserName,jdbcType=VARCHAR},
		#{integralAccount,jdbcType=INTEGER},
		#{paymentPassword,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="cn.com.clubank.weihang.manage.member.pojo.CustomerInfo">
		update customer_info
		set status = #{status,jdbcType=INTEGER},
		password = #{password,jdbcType=VARCHAR},
		realname = #{realname,jdbcType=VARCHAR},
		nickname = #{nickname,jdbcType=VARCHAR},
		headIcon = #{headicon,jdbcType=VARCHAR},
		simple_spelling = #{simpleSpelling,jdbcType=VARCHAR},
		gender = #{gender,jdbcType=INTEGER},
		birthday = #{birthday,jdbcType=TIMESTAMP},
		mobile = #{mobile,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		wechat = #{wechat,jdbcType=VARCHAR},
		check_online = #{checkOnline,jdbcType=INTEGER},
		first_visit = #{firstVisit,jdbcType=TIMESTAMP},
		previous_visit = #{previousVisit,jdbcType=TIMESTAMP},
		last_visit = #{lastVisit,jdbcType=TIMESTAMP},
		recommender_id = #{recommenderId,jdbcType=VARCHAR},
		recommend_code = #{recommendCode,jdbcType=VARCHAR},
		delete_mark = #{deleteMark,jdbcType=INTEGER},
		enabled_mark = #{enabledMark,jdbcType=INTEGER},
		description = #{description,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		create_user_Id = #{createUserId,jdbcType=VARCHAR},
		create_user_name = #{createUserName,jdbcType=VARCHAR},
		modify_date = #{modifyDate,jdbcType=TIMESTAMP},
		modify_user_Id = #{modifyUserId,jdbcType=VARCHAR},
		modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
		Integral_account = #{integralAccount,jdbcType=INTEGER},
		payment_password = #{paymentPassword,jdbcType=VARCHAR}
		where c_id = #{cId,jdbcType=VARCHAR}
	</update>
	
	<!-- 选择更新 -->
	<update id="updateSelectiveByPrimaryKey" parameterType="cn.com.clubank.weihang.manage.member.pojo.CustomerInfo">
		update customer_info
		<trim prefix="SET" suffixOverrides=",">
			<if test="status != null">status = #{status,jdbcType=INTEGER},</if>
			<if test="password != null">password = #{password,jdbcType=VARCHAR},</if>
			<if test="realname != null">realname = #{realname,jdbcType=VARCHAR},</if>
			<if test="nickname != null">nickname = #{nickname,jdbcType=VARCHAR},</if>
			<if test="headicon != null">headIcon = #{headicon,jdbcType=VARCHAR},</if>
			<if test="simpleSpelling != null">simple_spelling = #{simpleSpelling,jdbcType=VARCHAR},</if>
			<if test="gender != null">gender = #{gender,jdbcType=INTEGER},</if>
			<if test="birthday != null">birthday = #{birthday,jdbcType=TIMESTAMP},</if>
			<if test="mobile != null">mobile = #{mobile,jdbcType=VARCHAR},</if>
			<if test="email != null">email = #{email,jdbcType=VARCHAR},</if>
			<if test="qq != null">qq = #{qq,jdbcType=VARCHAR},</if>
			<if test="wechat != null">wechat = #{wechat,jdbcType=VARCHAR},</if>
			<if test="checkOnline != null">check_online = #{checkOnline,jdbcType=INTEGER},</if>
			<if test="firstVisit != null">first_visit = #{firstVisit,jdbcType=TIMESTAMP},</if>
			<if test="previousVisit != null">previous_visit = #{previousVisit,jdbcType=TIMESTAMP},</if>
			<if test="lastVisit != null">last_visit = #{lastVisit,jdbcType=TIMESTAMP},</if>
			<if test="recommenderId != null">recommender_id = #{recommenderId,jdbcType=VARCHAR},</if>
			<if test="recommendCode != null">recommend_code = #{recommendCode,jdbcType=VARCHAR},</if>
			<if test="deleteMark != null">delete_mark = #{deleteMark,jdbcType=INTEGER},</if>
			<if test="enabledMark != null">enabled_mark = #{enabledMark,jdbcType=INTEGER},</if>
			<if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
			<if test="createDate != null">create_date = #{createDate,jdbcType=TIMESTAMP},</if>
			<if test="createUserId != null">create_user_Id = #{createUserId,jdbcType=VARCHAR},</if>
			<if test="createUserName != null">create_user_name = #{createUserName,jdbcType=VARCHAR},</if>
			<if test="modifyDate != null">modify_date = #{modifyDate,jdbcType=TIMESTAMP},</if>
			<if test="modifyUserId != null">modify_user_Id = #{modifyUserId,jdbcType=VARCHAR},</if>
			<if test="modifyUserName != null">modify_user_name = #{modifyUserName,jdbcType=VARCHAR},</if>
			<if test="integralAccount != null">Integral_account = #{integralAccount,jdbcType=INTEGER},</if>
			<if test="paymentPassword != null">payment_password = #{paymentPassword,jdbcType=VARCHAR}</if>
		</trim>
		where c_id = #{cId,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select c_id, status, password, realname, nickname, headIcon,
		simple_spelling, gender,
		birthday, mobile, email, qq, wechat, check_online, first_visit, previous_visit,
		last_visit, recommender_id, recommend_code, delete_mark, enabled_mark, description,
		create_date,
		create_user_Id, create_user_name, modify_date, modify_user_Id, modify_user_name,
		Integral_account, payment_password
		from customer_info
		where c_id = #{cId,jdbcType=VARCHAR}
		and delete_mark = 0
	</select>

	<!-- 通过手机号查询用户 -->
	<select id="selectByMobile" parameterType="java.lang.String" resultMap="BaseResultMap">
		select c_id, status, password, realname, nickname, headIcon,
		simple_spelling, gender,
		birthday, mobile, email, qq, wechat, check_online, first_visit, previous_visit,
		last_visit, recommender_id, recommend_code, delete_mark, enabled_mark, description,
		create_date,
		create_user_Id, create_user_name, modify_date, modify_user_Id, modify_user_name,
		Integral_account, payment_password
		from customer_info
		where mobile = #{mobile,jdbcType=VARCHAR}
		and delete_mark = 0
	</select>
	<!-- 通过车牌号查询用户 -->
	<select id="selectByCarNo" parameterType="java.lang.String" resultMap="BaseResultMap">
		select c_id, status, password, realname, nickname, headIcon,
		simple_spelling, gender,
		birthday, mobile, email, qq, wechat, check_online, first_visit, previous_visit,
		last_visit, recommender_id, recommend_code, delete_mark, enabled_mark, description,
		create_date,
		create_user_Id, create_user_name, modify_date, modify_user_Id, modify_user_name,
		Integral_account, payment_password
		from customer_info
		WHERE
			c_id = (
			SELECT customer_id
			FROM car_info
			WHERE car_no = #{carNo}
			AND delete_mark = 0
			)
		AND delete_mark = 0
	</select>
	<!-- 通过推荐码查询用户 -->
	<select id="selectByRecommendCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select c_id, status, password, realname, nickname, headIcon,
		simple_spelling, gender,
		birthday, mobile, email, qq, wechat, check_online, first_visit, previous_visit,
		last_visit, recommender_id, recommend_code, delete_mark, enabled_mark, description,
		create_date,
		create_user_Id, create_user_name, modify_date, modify_user_Id, modify_user_name,
		Integral_account, payment_password
		from customer_info
		where recommend_code = #{recommendCode,jdbcType=VARCHAR}
		and delete_mark = 0
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select c_id, status, password, realname, nickname, headIcon,
		simple_spelling, gender,
		birthday, mobile, email, qq, wechat, check_online, first_visit, previous_visit,
		last_visit, recommender_id, recommend_code, delete_mark, enabled_mark, description,
		create_date,
		create_user_Id, create_user_name, modify_date, modify_user_Id, modify_user_name,
		Integral_account, payment_password
		from customer_info
		where delete_mark = 0
	</select>
	
	<select id="selectCustomerLevel" parameterType="java.lang.String" resultType="hashMap">
		SELECT
			c.customer_id AS customerId,
			a.ab_id AS abId,
			a.benefit_name AS benefitName,
			CAST(a.level AS CHAR) AS level
		FROM
			car_info c,
			account_benefit a
		WHERE
			c.ab_id = a.ab_id
		AND c.customer_id = #{customerId}
		AND c.is_default = true
		AND c.delete_mark = 0
	</select>
	
	<select id="selectCustomerIntegralGradeInfo" parameterType="java.lang.String" resultType="hashMap">
		SELECT 
		  coi.Integral_account AS integralAccount,
		  coi.headIcon AS headIcon,
		  ci.car_no AS carNo,
		  ab.benefit_name AS benefitName,
		  ab.level  
		FROM
		  customer_info coi 
		  LEFT JOIN car_info ci 
		    ON coi.c_id = ci.customer_id 
		  LEFT JOIN account_benefit ab 
		    ON ci.ab_id = ab.ab_id 
		WHERE ci.is_default=TRUE AND coi.c_id = #{cId,jdbcType=VARCHAR} and coi.delete_mark = 0
	</select>
	
	<select id="getNameById" parameterType="java.lang.String" resultType="string">
	    select realname
	    from customer_info
	    where c_id = #{cId,jdbcType=VARCHAR} and delete_mark = 0
  	</select>
  
	<!-- 按会员车牌号、姓名、昵称模糊查询，会员状态查询到的条数 -->
	<select id="selectCount" resultType="INTEGER">
		select count(0)
		from
		(select cus.c_id, car.car_no
		from customer_info cus LEFT JOIN car_info car ON car.customer_id = cus.c_id
		where cus.delete_mark = 0
		<if test="carNo != null and carNo != ''">
			and car.car_no like concat('%',#{carNo,jdbcType=VARCHAR},'%') 
		</if>
		<if test="realname != null and realname != ''">
			and cus.realname like concat('%',#{realname,jdbcType=VARCHAR},'%')
		</if>
		<if test="nickname != null and nickname != ''">
			and cus.nickname like concat('%',#{nickname,jdbcType=VARCHAR},'%')
		</if>
		<if test="status != null">
			and cus.status = #{status,jdbcType=INTEGER}
		</if>
		GROUP BY cus.c_id ) a
	</select>
	
	<!-- 按会员姓名、昵称、车牌号模糊查询，会员状态查询并分页 -->
	<select id="selectCustomerListByNameOrStatusPaged" resultMap="BaseResultMap">
		SELECT 
		  cus.*
		FROM
		  customer_info cus LEFT JOIN car_info car ON car.customer_id = cus.c_id 
		where cus.delete_mark = 0 
		<if test="carNo != null and carNo != ''">
			and car.car_no like concat('%',#{carNo,jdbcType=VARCHAR},'%') 
		</if>
		<if test="realname != null and realname != ''">
			and cus.realname like concat('%',#{realname,jdbcType=VARCHAR},'%') 
		</if>
		<if test="nickname != null and nickname != ''">
			and cus.nickname like concat('%',#{nickname,jdbcType=VARCHAR},'%') 
		</if>
		<if test="status != null">
			and cus.status = #{status,jdbcType=INTEGER} 
		</if>
		GROUP BY cus.c_id
		order by cus.create_date desc 
		<if test="startIndex &gt;= 0">
			limit #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>
	
	<!-- 要导出的会员表中数据 -->
	<select id="exportMemberInfo" resultType="HashMap">
		SELECT 
		  cus.realname,
		  cus.mobile,
		  car.car_no AS carNo,
		  car.car_vin AS carVin,
		  ab.benefit_name AS benefitName,
		  car.account,
		  car.car_brand AS carBrand,
		  car.years,
		  car.exhaust_amount AS exhaustAmount,
		  car.engine_number AS engineNumber
		FROM
		  customer_info cus 
		  LEFT JOIN car_info car 
		    ON cus.c_id = car.customer_id 
		  LEFT JOIN account_benefit ab 
		    ON car.ab_id = ab.ab_id 
		WHERE cus.delete_mark = 0 and car.delete_mark = 0
		<if test="carNo != null and carNo != ''">
			and car.car_no like concat('%',#{carNo,jdbcType=VARCHAR},'%') 
		</if>
		<if test="realname != null and realname != ''">
			and cus.realname like concat('%',#{realname,jdbcType=VARCHAR},'%') 
		</if>
		<if test="nickname != null and nickname != ''">
			and cus.nickname like concat('%',#{nickname,jdbcType=VARCHAR},'%') 
		</if>
		<if test="status != null">
			and cus.status = #{status,jdbcType=INTEGER} 
		</if>
		order by cus.create_date desc
	</select>
</mapper>