<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.clubank.weihang.manage.product.dao.MallActivityGoodsMapper">
  <resultMap id="BaseResultMap" type="cn.com.clubank.weihang.manage.product.pojo.MallActivityGoods">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="sell_quantity" jdbcType="INTEGER" property="sellQuantity" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user_Id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_user_Id" jdbcType="VARCHAR" property="modifyUserId" />
    <result column="modify_user_name" jdbcType="VARCHAR" property="modifyUserName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mall_activity_goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.clubank.weihang.manage.product.pojo.MallActivityGoods">
    insert into mall_activity_goods (id, addtime, status, 
      price, sku_id, quantity, 
      sell_quantity, activity_id, description, 
      create_date, create_user_Id, create_user_name, 
      modify_date, modify_user_Id, modify_user_name
      )
    values (#{id,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{skuId,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{sellQuantity,jdbcType=INTEGER}, #{activityId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=VARCHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  
  <!-- 批量新增 -->
  <insert id="insertByBatch" parameterType="java.util.List">
    insert into mall_activity_goods (id, addtime, status, 
    price, sku_id, quantity, 
    sell_quantity, activity_id, description, 
    create_date, create_user_Id, create_user_name, 
    modify_date, modify_user_Id, modify_user_name)
      values
      <foreach collection="list" item="item" index="index" separator=",">
          (#{item.id,jdbcType=VARCHAR}, #{item.addtime,jdbcType=TIMESTAMP}, #{item.status,jdbcType=INTEGER}, 
      #{item.price,jdbcType=DECIMAL}, #{item.skuId,jdbcType=VARCHAR}, #{item.quantity,jdbcType=INTEGER}, 
      #{item.sellQuantity,jdbcType=INTEGER}, #{item.activityId,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR}, 
      #{item.createDate,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=VARCHAR}, #{item.createUserName,jdbcType=VARCHAR}, 
      #{item.modifyDate,jdbcType=TIMESTAMP}, #{item.modifyUserId,jdbcType=VARCHAR}, #{item.modifyUserName,jdbcType=VARCHAR}
      )
      </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.clubank.weihang.manage.product.pojo.MallActivityGoods">
    update mall_activity_goods
    set addtime = #{addtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      sku_id = #{skuId,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      sell_quantity = #{sellQuantity,jdbcType=INTEGER},
      activity_id = #{activityId,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user_Id = #{createUserId,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      modify_user_Id = #{modifyUserId,jdbcType=VARCHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateSelectiveByPrimaryKey" parameterType="cn.com.clubank.weihang.manage.product.pojo.MallActivityGoods">
    update mall_activity_goods
    <trim prefix="SET" suffixOverrides=",">
		<if test="addtime != null">addtime = #{addtime,jdbcType=TIMESTAMP},</if>
		<if test="status != null">status = #{status,jdbcType=INTEGER},</if>
		<if test="price != null">price = #{price,jdbcType=DECIMAL},</if>
		<if test="skuId != null">sku_id = #{skuId,jdbcType=VARCHAR},</if>
		<if test="quantity != null">quantity = #{quantity,jdbcType=INTEGER},</if>
		<if test="sellQuantity != null">sell_quantity = #{sellQuantity,jdbcType=INTEGER},</if>
		<if test="activityId != null">activity_id = #{activityId,jdbcType=VARCHAR},</if>
		<if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
		<if test="createDate != null">create_date = #{createDate,jdbcType=TIMESTAMP},</if>
		<if test="createUserId != null">create_user_Id = #{createUserId,jdbcType=VARCHAR},</if>
		<if test="createUserName != null">create_user_name = #{createUserName,jdbcType=VARCHAR},</if>
		<if test="modifyDate != null">modify_date = #{modifyDate,jdbcType=TIMESTAMP},</if>
		<if test="modifyUserId != null">modify_user_Id = #{modifyUserId,jdbcType=VARCHAR},</if>
		<if test="modifyUserName != null">modify_user_name = #{modifyUserName,jdbcType=VARCHAR}</if>
    </trim>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, addtime, status, price, sku_id, quantity, sell_quantity, activity_id, 
    description, create_date, create_user_Id, create_user_name, modify_date, modify_user_Id, 
    modify_user_name
    from mall_activity_goods
    where id = #{id,jdbcType=VARCHAR}
    and status = 1
  </select>
  <select id="selectBySkuId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, addtime, status, price, sku_id, quantity, sell_quantity, activity_id, 
    description, create_date, create_user_Id, create_user_name, modify_date, modify_user_Id, 
    modify_user_name
    from mall_activity_goods
    where sku_id = #{skuId,jdbcType=VARCHAR}
    and status = 1
  </select>
  <select id="selectByActivityId" parameterType="java.lang.String" resultType="hashMap">
	SELECT
		ag.id AS goodsId,
		ag.addtime AS addTime,
		ag.status AS status,
		ag.price AS price,
		ag.sku_id AS skuId,
		ps.attributes AS attributes,
		ps.sku_name AS skuName,
		ps.product_id AS productId,
		ag.quantity AS quantity,
		ag.sell_quantity AS sellQuantity,
		ag.activity_id AS activityId,
		ag.description AS description,
		pi.product_type AS productType
	FROM
		mall_activity_goods ag
	LEFT JOIN product_sku ps ON ag.sku_id = ps.sku_id
	LEFT JOIN product_info pi ON ps.product_id = pi.product_id
    WHERE ag.activity_id = #{activityId,jdbcType=VARCHAR}
    ORDER BY ag.addTime DESC
    LIMIT 10
  </select>
  <select id="selectGoodListByActivityId" resultType="hashMap">
	SELECT
		ag.id AS goodsId,
		ag.addtime AS addTime,
		ag.status AS status,
		ag.price AS price,
		ag.sku_id AS skuId,
		ps.attributes AS attributes,
		ps.sku_name AS skuName,
		ps.product_id AS productId,
		ag.quantity AS quantity,
		ag.sell_quantity AS sellQuantity,
		ag.activity_id AS activityId,
		ag.description AS description,
		pi.product_type AS productType
	FROM
		mall_activity_goods ag
	LEFT JOIN product_sku ps ON ag.sku_id = ps.sku_id
	LEFT JOIN product_info pi ON ps.product_id = pi.product_id
    WHERE activity_id = #{activityId,jdbcType=VARCHAR}
    ORDER BY addTime DESC
    <if test="start &gt;= 0">
    LIMIT #{start,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, addtime, status, price, sku_id, quantity, sell_quantity, activity_id, 
    description, create_date, create_user_Id, create_user_name, modify_date, modify_user_Id, 
    modify_user_name
    from mall_activity_goods
  </select>
  
  <!-- 通过活动ID获得活动商品 -->
  <select id="selectActivityGoodsByActivityId" resultType="hashMap">
	SELECT 
	  pi.product_name AS productName,
	  a.id,
	  a.addtime,
	  a.status,
	  a.price,
	  a.sku_id AS skuId,
	  a.attributes,
	  a.sku_name AS skuName,
	  a.product_id AS productId,
	  a.quantity,
	  a.sell_quantity AS sellQuantity,
	  a.activity_id AS activityId,
	  a.description 
	FROM
	  (SELECT 
	    ag.id,
	    ag.addtime,
	    ag.status,
	    ag.price,
	    ag.sku_id,
	    ps.attributes,
	    ps.sku_name,
	    ps.product_id,
	    ag.quantity,
	    ag.sell_quantity,
	    ag.activity_id,
	    ag.description 
	  FROM
	    mall_activity_goods ag 
	    LEFT JOIN product_sku ps 
	      ON ag.sku_id = ps.sku_id 
	  WHERE ag.activity_id = #{activityId,jdbcType=VARCHAR} 
	    AND ag.status = 1) a 
	  LEFT JOIN product_info pi
	    ON a.product_id = pi.product_id 
	ORDER BY ADDTIME DESC 
  </select>
  
  <!-- 根据活动编号查询活动商品 -->
  <select id="selectBySequenceCode" resultType="hashMap">
	SELECT
		ag.id as goodsId,
		ag.addtime as addTime,
		ag.status as status,
		ag.price as price,
		ag.sku_id as skuId,
		ps.attributes as attributes,
		ps.sku_name as skuName,
		ps.product_id as productId,
		ps.product_price as skuPrice,
		ps.product_pic_id as picId,
		ag.quantity as quantity,
		ag.sell_quantity as sellQuantity,
		ag.activity_id as activityId,
		ag.description as description,
		pi.product_type as productType,
		ma.end_time as endTime
	FROM
		mall_activity_goods ag LEFT JOIN product_sku ps on ag.sku_id = ps.sku_id
		LEFT JOIN mall_activity ma on ma.id = ag.activity_id
		LEFT JOIN product_info pi on pi.product_id = ps.product_id
    where ag.status = 1
    <if test="sequenceCode != null">
     and ma.sequence_code = #{sequenceCode,jdbcType=VARCHAR}
    </if>
    ORDER BY ag.addTime DESC
    <if test="start &gt;= 0">
    LIMIT #{start,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </if>
  </select>
</mapper>