<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"    
    xmlns:context="http://www.springframework.org/schema/context"    
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans      
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd      
                        http://www.springframework.org/schema/context      
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd      
                        http://www.springframework.org/schema/mvc      
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/aop
	              		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	              		http://www.springframework.org/schema/tx
	              		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 验证码短信 -->
    <bean id="verificationSms" class="cn.com.clubank.weihang.common.sms.SMSModel">
    	<!-- 短信模板序列号 -->
    	<constructor-arg name="serialCode" value="${serialCode}"/>
    	<!-- 短信类型 1.验证码 2.通知 -->
    	<constructor-arg name="type" value="1"/>
    </bean>
   
</beans>
